//color base
$base: #6dacb0;
$contra: #f1e6dc;
$fondo: white;

//media queries
$smartphone: "(max-width: 420px)";
$tablets: "(min-width: 420px) and (max-width: 770px)";
$desktop: "(min-width: 1024px)";
